header {
  /* nav */ }
  header .util {
    font-size: 14px;
    display: flex; }
    header .util > div {
      width: 50%;
      height: 100%; }
    header .util .left ul li {
      float: left;
      margin-right: 20px;
      line-height: 46px; }
    header .util .right {
      display: flex;
      justify-content: flex-end; }
      header .util .right > * {
        margin-right: 15px; }
      header .util .right .search {
        width: 240px;
        position: relative; }
        header .util .right .search input {
          width: 100%;
          height: 26px;
          margin-top: 10px;
          border: none;
          border-radius: 20px;
          background: #eee; }
        header .util .right .search input[placeholder] {
          font-size: 11px;
          text-indent: 10px; }
        header .util .right .search .icon {
          position: absolute;
          top: 13px;
          right: 10px;
          width: 20px;
          height: 20px;
          background: url("../img/search-solid.svg") no-repeat;
          background-size: cover; }
      header .util .right .cart,
      header .util .right .login_sign,
      header .util .right .order {
        height: 30px;
        margin-top: 6.5px; }
      header .util .right .cart {
        width: 20px;
        background: url("../img/ic_cart_black.png") no-repeat;
        background-size: cover; }
      header .util .right .login_sign {
        width: 96px;
        border: none;
        border-radius: 20px;
        background: #f05658;
        color: #fff;
        font-weight: bold; }
      header .util .right .order {
        line-height: 30px; }
  header .logo {
    width: 152px;
    height: 50px;
    background: url("../img/logo.jpg") no-repeat;
    float: left; }
  header .gnb {
    width: calc(100% - 152px);
    height: 50px;
    line-height: 50px;
    padding-left: 150px;
    box-sizing: border-box;
    float: right; }
    header .gnb ul {
      display: flex;
      justify-content: space-between;
      align-items: center; }

/* slider */
/* section1 */
/* section2 */
/* banner */
/* section3 */
#mid_banner .banner_img {
  height: 200px;
  background: url("../img/banner.png") no-repeat center; }

/* section4 */
#section4 ul li:nth-child(1) {
  background-image: url("../img/photo1.jpg"); }
#section4 ul li:nth-child(2) {
  background-image: url("../img/photo2.jpg"); }
#section4 ul li:nth-child(3) {
  background-image: url("../img/photo3.jpg"); }
#section4 ul li:nth-child(4) {
  background-image: url("../img/photo4.jpg"); }
#section4 ul li:nth-child(5) {
  background-image: url("../img/photo5.jpg"); }
#section4 ul li:nth-child(6) {
  background-image: url("../img/photo6.jpg"); }
#section4 ul li:nth-child(7) {
  background-image: url("../img/photo7.jpg"); }
#section4 ul li:nth-child(8) {
  background-image: url("../img/photo8.jpg"); }
#section4 ul li:nth-child(9) {
  background-image: url("../img/photo9.jpg"); }
#section4 ul li:nth-child(10) {
  background-image: url("../img/photo10.jpg"); }
#section4 ul li:nth-child(11) {
  background-image: url("../img/photo11.jpg"); }
#section4 ul li:nth-child(12) {
  background-image: url("../img/photo12.jpg"); }
#section4 ul li .txt {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  text-align: center;
  color: #efefef;
  box-sizing: border-box;
  position: relative;
  opacity: 0; }
  #section4 ul li .txt p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; }
  #section4 ul li .txt small {
    display: inline-block;
    margin-top: 10px; }
#section4 ul li a:hover .txt,
#section4 ul li a:focus .txt {
  opacity: 1; }

/* footer */

/*# sourceMappingURL=main.css.map */
