@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  font-family: 'Nanum Gothic', sans-serif;
}
#wrap {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  /* background: rgba(255, 0, 0, 0.2); */
}

header {
  width: 100%;
}

header #header_top {
  width: 100%;
  background: #d9d9d9;
}

#header_top .sns {
  width: 300px;
  height: 50px;
  margin-left: 10px;
}
#header_top .sns li {
  float: left;
  padding: 10px;
}
#header_top .sns li i {
  color: #555;
  font-size: 20px;
}
/* 

*/
#header_top .top_menu {
  width: 1200px;
  height: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#header_top .top_menu li {
  width: 293px;
  height: 45px;
  line-height: 45px;
  border-radius: 15px 15px 0px 0px;
  background: #f9f9f9;
  float: left;
  text-align: center;
}
#header_top .top_menu li a {
  font-size: 17px;
  font-weight: bold;
  color: #333333;
}
#header_top .top_menu li:nth-child(2) {
  background: #7d010b;
}
#header_top .top_menu li:nth-child(2) a {
  color: #f5f5f5;
}

.util > ul {
  width: 250px;
  height: 45px;
  float: right;
  margin-top: -45px;
}

.util > ul li {
  width: 220px;
  height: 20px;
}
.util > ul li input[id='search'] {
  width: 180px;
  height: 20px;
  float: left;
}
.util > ul li input[id='button'] {
  width: 24px;
  height: 24px;
  float: left;
  background: url(../img/search_on.png) no-repeat;
  border: none;
  margin-left: 5px;
}
.util > ul li a {
  display: inline-block;
  width: fit-content;
  height: 15px;
  line-height: 15px;
  border-left: 1px solid #333333;
  padding: 0px 10px;
  color: #333333;
  font-size: 14px;
}
.util > ul li a:first-child {
  border-left: 0px;
  padding-left: 0px;
}
/* 

*/
header #header_main {
  width: 100%;
  height: 65px;
  background: #fff;
  border-top: 1px solid #ddd;
}
header #header_main #wrap {
  position: relative;
}
#header_main h1 {
  width: 300px;
  height: 100%;
  float: left;
  margin-left: 450px;
  background: url(../img/rn2019_logo-v2.png) no-repeat;
  background-position: center;
}
/* #header_main ul {
  width: 250px;
  height: 45px;
  float: right;
  margin-top: 10px;
}

#header_main ul li {
  width: 220px;
  height: 30px;
}
#header_main ul li input[id='search'] {
  width: 180px;
  height: 20px;
  float: left;
}
#header_main ul li input[id='button'] {
  width: 24px;
  height: 24px;
  float: left;
  background: url(../img/search_on.png) no-repeat;
  border: none;
  margin-left: 5px;
}
#header_main ul li a {
  display: inline-block;
  width: fit-content;
  height: 15px;
  line-height: 15px;
  border-left: 1px solid #333333;
  padding: 0px 10px;
  color: #333333;
  font-size: 14px;
}
#header_main ul li a:first-child {
  border-left: 0px;
  padding-left: 0px;
} */
/* 

*/
nav {
  width: 100%;
  height: 78px;
  background: #2b2b2b;
  position: relative;
}
nav #full_menu {
  width: 80px;
  height: 78px;
  float: left;
  background: url(../img/gnb_menu_ico_2.png) no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
}
nav .main_menu {
  width: 1200px;
  height: 100%;
}
nav .main_menu > li {
  float: left;
  width: 200px;
  height: 100%;
  line-height: 78px;
  text-align: center;
}
nav .main_menu > li > a {
  color: #ddd;
  font-size: 18px;
  font-weight: bold;
}
