nav {
  width: 100%;
  height: 40px;
  background: #fff;
  border: 1px solid #999999;
  border-left: none;
  border-right: none;
}
nav > ul {
  width: 1040px;
  margin: 0 auto;
}
nav > ul > li {
  width: fit-content;
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
  position: relative;
  z-index: 100;
  margin-left: 20px;
}
nav > ul > li > a {
  display: block;
  font-size: 13px;
  font-weight: bold;
}
nav > ul > li:hover > a {
  color: tomato;
}

nav > ul > li:first-child {
  width: 140px;
  background: #fff;
  border: 1px solid #999999;
  border-top: none;
  border-bottom: none;
}
nav > ul > li:first-child ul {
  width: 200px;
  height: 0px;
  background: #fff;
  border: 0px solid #999999;
  overflow: hidden;
  transition: all 0.3s;
}
nav > ul > li:first-child ul > li {
  width: 200px;
  height: 40;
  line-height: 40px;
  text-align: start;
  margin: 0px 10px;
}
nav > ul > li:first-child ul > li > a {
  display: block;
  font-size: 13px;
  letter-spacing: -1px;
  margin: 0px 30px;
}
nav > ul > li:first-child ul > li > a > span {
  float: right;
  color: tomato;
  font-weight: bold;
  display: none;
}
nav > ul > li:first-child:hover ul {
  height: 400px;
  border: 1px solid #999999;
}
nav > ul > li:first-child:hover > a {
  background: tomato;
  color: #fff;
}
nav > ul > li:first-child ul > li:hover > a {
  color: tomato;
}
nav > ul > li:first-child ul > li:hover > a > span {
  display: block;
}
/* 네비 아이콘넣기 */
nav > ul > li:first-child ul > li:nth-child(1) {
  background: url("/images/nav_icon/cgpl_0chb74dph1un.png") no-repeat 0px 5px;
}
nav > ul > li:first-child ul > li:nth-child(2) {
  background: url("/images/nav_icon/cgpl_0hybe1yyekx8.png") no-repeat 0px 5px;
}
nav > ul > li:first-child ul > li:nth-child(3) {
  background: url("/images/nav_icon/cgpl_2czgtieeex3t.png") no-repeat 0px 5px;
}
nav > ul > li:first-child ul > li:nth-child(4) {
  background: url("/images/nav_icon/cgpl_3u4yd5ywgt6c.png") no-repeat 0px 5px;
}
nav > ul > li:first-child ul > li:nth-child(5) {
  background: url("/images/nav_icon/cgpl_45htt2x6b3ko.png") no-repeat 0px 5px;
}
nav > ul > li:first-child ul > li:nth-child(6) {
  background: url("/images/nav_icon/cgpl_9nnpx00pbgis.png") no-repeat 0px 5px;
}
nav > ul > li:first-child ul > li:nth-child(7) {
  background: url("/images/nav_icon/cgpl_gxfg1b1ognf4.png") no-repeat 0px 5px;
}
nav > ul > li:first-child ul > li:nth-child(8) {
  background: url("/images/nav_icon/cgpl_hkdoefiazysj.png") no-repeat 0px 5px;
}
nav > ul > li:first-child ul > li:nth-child(9) {
  background: url("/images/nav_icon/cgpl_hrtzbbbt4ecg.png") no-repeat 0px 5px;
}
nav > ul > li:first-child ul > li:nth-child(10) {
  background: url("/images/nav_icon/cgpl_hsjnumsx15iv.png") no-repeat 0px 5px;
}

/* 여기부터 슬라이드  */
div.slider {
  width: 100%;
  height: 430px;
  background: #777777;
  position: relative;
}

div.slider > ul.imgbox {
  width: 100%;
  height: 430px;
  overflow: hidden;
  position: absolute;
}
div.slider > ul.imgbox > li > p {
  width: 1040px;
  height: 430px;
  margin: 0 auto;
}
div.slider > ul.imgbox > li:nth-child(1) {
  background: #e0edf5;
}
div.slider > ul.button {
  width: 1040px;
  position: relative;
  top: 150px;
}
div.slider > ul.button > li:first-child {
  float: left;
  position: absolute;
  top: 0px;
  left: 10px;
}
div.slider > ul.button > li:last-child {
  float: right;
  position: absolute;
  top: 0px;
  right: 20px;
}
div.slider > ul.button > li > button {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  font: normal 60px "굴림";
  color: #fff;
}
