@charset "utf-8";

@font-face {
  font-family: notoSansKr;
  font-weight: 300;
  font-style: normal;
  src: url('../font/NotoSansKR-Light.eot');
  src: url('../font/NotoSansKR-Light.eot#iefix') format('embedded-opentype'),
    url('../font/NotoSansKR-Light.woff2') format('woff2'),
    url('../font/NotoSansKR-Light.woff') format('woff'),
    url('../font/NotoSansKR-Light.otf') format('opentype');
}
@font-face {
  font-family: 'notoSansKr';
  font-weight: 400;
  font-style: normal;
  src: url('../font/NotoSansKR-Regular.eot');
  src: url('../font/NotoSansKR-Regular.eot#iefix') format('embedded-opentype'),
    url('../font/NotoSansKR-Regular.woff2') format('woff2'),
    url('../font/NotoSansKR-Regular.woff') format('woff'),
    url('../font/NotoSansKR-Regular.otf') format('open-type');
}
@font-face {
  font-family: 'notoSansKr';
  font-weight: 500;
  font-style: normal;
  src: url('../font/NotoSansKR-Medium.eot');
  src: url('../font/NotoSansKR-Medium.eot#iefix') format('embedded-opentype'),
    url('../font/NotoSansKR-Medium.woff2') format('woff2'),
    url('../font/NotoSansKR-Medium.woff') format('woff'),
    url('../font/NotoSansKR-Medium.otf') format('open-type');
}
@font-face {
  font-family: 'notoSansKr';
  font-weight: 700;
  font-style: normal;
  src: url('../font/NotoSansKR-Bold.eot');
  src: url('../font/NotoSansKR-Bold.eot#iefix') format('embedded-opentype'),
    url('../font/NotoSansKR-Bold.woff2') format('woff2'),
    url('../font/NotoSansKR-Bold.woff') format('woff'),
    url('../font/NotoSansKR-Bold.otf') format('opentype');
}
